*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6DC5D1;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem palevioletred;
    font-size: 8vmin;
    color: #BC5A94;
    background-color: #F8F9D7;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #EADBC8;
    color: #D10363;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #A0DEFF;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #BC5A94;
    color: black;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1 1rem black;
}

#msg{
    color: #F8F9D7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}